.container_text_definition {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.text_subtitle {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  color: #0f0e0e;
  padding: 2rem 0;
}

.picture_gif {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.text {
  padding-top: 1rem;
  text-align: justify;
  font-size: 2rem;
  font-weight: 100;
  color: #444444;
}